.footer {
    background-color: $color-blue;
    max-width: 100vw;
    height: 25vh;
    padding: $font-10;
    display: flex;
 
    &__icons {
        display: flex;
        border: 1px solid $secondary_color;
        border-radius: $font-16;
        margin: $m-3;
    

        &_lists {
            display: flex;
                &--list {
                    margin: $m-1;
                    padding: $p-1;
                }
        }
    }

    &__products {
        display: flex;
        border: 1px solid $secondary_color;
        border-radius: $font-16;
        margin: $m-3;
    
        &_lists {
            display: flex;

            &--list {
                margin: $m-1;
                padding: $p-1;

            }
        }
    }

    &__menu {
        display: flex;
        border: 1px solid $secondary_color;
        border-radius: $m-2;
        margin: $m-3;

        &_lists {
            display: flex;
                                  
            &--list {
                margin: $m-1;
                padding: $p-1;
            }
        }
    }
}

