.main {
    max-width: 80vh;
    
    &__products {
        @include flex;

        &_lists {
            margin: $m-2;

            &--link {
                color: $color-white;
                margin: $m-1;
                text-align: center;
                font-size: $font-24;
            }
            &--deskription {
                color: $color-white;
                margin: $m-1;
                text-align: center;
                
            }
             &--img {
                width: 300px;
                height: 200px;
                margin: $m-1;
                border-radius: $font-10;
                
            }
           
            
        }
    }
}
